name: Generate and publish docs

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  pages:    write

concurrency:
  group:              pages
  cancel-in-progress: false

jobs:
  publish:
    name:    Generate & Publish PHPDoc
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url:  ${{ steps.publish-phpdoc.outputs.page-url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Configure GitHub Pages
        uses: actions/configure-pages@v5

      - name: Cache phpDocumentor
        uses: actions/cache@v5
        with:
          path:         .phpdoc/cache
          key:          ${{ runner.os }}-phpdocumentor-${{ github.sha }}
          restore-keys: ${{ runner.os }}-phpdocumentor-

      - name: Generate documentation with phpDocumentor
        shell: bash
        #language=bash
        run: docker compose run --rm phpdoc -t .phpdoc/build

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: .phpdoc/build

      - name: Deploy GitHub Pages site
        uses: actions/deploy-pages@v4
        id:   deploy-pages
