name: Tests

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

permissions:
  checks:        write
  contents:      read
  issues:        read
  pull-requests: write

jobs:
  unit-tests:
    name:    Unit Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: ['8.1', '8.2', '8.3', '8.4', '8.5']
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP and Install Composer Packages
        uses: ./.github/actions/setup
        with:
          php-version: ${{ matrix.php-version }}

      - name: Run Pest
        shell: bash
        #language=bash
        run: |
          mkdir -p var/test-results
          vendor/bin/pest --ci --log-junit 'var/test-reports/php${{ matrix.php-version }}.xml'

      - name: Publish Pest Reports
        uses: mikepenz/action-junit-report@v5
        with:
          check_name:   'Unit Test Report (${{ matrix.php-version }})'
          report_paths: 'var/test-reports/php${{ matrix.php-version }}.xml'
        if: (!cancelled())
