name: Unit Tests

on:
  workflow_call:

permissions:
  checks:        write
  contents:      read
  issues:        read
  pull-requests: write

jobs:
  unit-tests:
    name: PHPUnit
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: ['8.1', '8.2', '8.3', '8.4', '8.5']
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PHP and Install Composer Packages
        uses: ./.github/actions/setup
        with:
          php-version: ${{ matrix.php-version }}

      - name: Run PHPUnit
        shell: bash
        env:
          XDEBUG_MODE: "coverage"
        #language=bash
        run: |
          vendor/bin/paratest \
            --log-junit          'var/test-results/php${{ matrix.php-version }}.junit.xml' \
            --coverage-cobertura 'var/coverage/php${{ matrix.php-version }}/coverage.cobertura.xml'

      - if: success() || failure()
        name: Upload Test Results
        uses: actions/upload-artifact@v6
        with:
          name: test-results-php${{ matrix.php-version }}
          path: 'var/test-results'
          if-no-files-found: error

      - if: success() || failure()
        name: Upload Code Coverage
        uses: actions/upload-artifact@v6
        with:
          name: code-coverage-php${{ matrix.php-version }}
          path: 'var/coverage'
          if-no-files-found: error

  generate-test-report:
    name: Generate Test Report
    needs: unit-tests
    runs-on: ubuntu-latest
    if: success() || failure()
    continue-on-error: true
    steps:
      - name: Download Test Results
        id:   download-test-results
        uses: actions/download-artifact@v7
        with:
          path: var/test-results
          pattern: test-results-*
          merge-multiple: true

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        with:
          report_paths:   '${{ steps.download-test-results.outputs.download-path }}/*.junit.xml'
          check_name:     'Unit Test Report'
          require_tests:  true

  generate-coverage-report:
    name: Generate Coverage Report
    needs: unit-tests
    runs-on: ubuntu-latest
    if: success() || failure()
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Download Code Coverage
        id:   download-code-coverage
        uses: actions/download-artifact@v7
        with:
          path: var/coverage
          pattern: code-coverage-*
          merge-multiple: true

      - name: ReportGenerator
        uses: danielpalme/ReportGenerator-GitHub-Action@5.5.1
        with:
          reports: 'var/coverage/*/coverage.cobertura.xml'
          targetdir: 'var/coverage-report'
          reporttypes: 'Cobertura'

      - name: Upload coverage report artifact
        uses: actions/upload-artifact@v6
        with:
          name: CoverageReport
          path: var/coverage-report

  code-coverage-summary:
    name: Code Coverage Summary
    needs: generate-coverage-report
    runs-on: ubuntu-latest
    if: success() || failure()
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Download Coverage Report
        uses: actions/download-artifact@v7
        with:
          name: CoverageReport
          path: var/coverage-report

      - name: Generate Code Coverage Summary
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename:       'var/coverage-report/Cobertura.xml'
          badge:          true
          fail_below_min: 100%
          format:         markdown
          output:         both
          thresholds:     '75 100'

      - name: Sticky Pull Request Comment
        uses: marocchino/sticky-pull-request-comment@v2
        if:   github.event_name == 'pull_request'
        with:
          recreate: true
          path: code-coverage-results.md
